@{
    ViewData["Title"] = "Om oss";

}

<link rel="stylesheet" href="/css/aboutUs.css" asp-append-version="true" />

<div class="about-us-container">
    <h1>Här kommer ni hitta information om oss</h1>
</div>
