@{
    ViewData["Title"] = "Tillgänglighetsinformation";

}

<link rel="stylesheet" href="/css/accessibilityInfo.css" asp-append-version="true" />


<div class="accessibility-container">
<h1>Tillgänglighet</h1>
</div>
