@{
    ViewData["Title"] = "Tillgänglighetsinformation";

}

<link rel="stylesheet" href="/css/accessibilityInfo.css" asp-append-version="true" />


<div class="accessibility-container">
<h1>Här kommer det vara info om tillgänglighetsanpassning</h1>
</div>
