@{
    ViewData["Title"] = "Instruktioner";

}

<link rel="stylesheet" href="/css/instructions.css" asp-append-version="true" />

<div class="instruction-container">
    <h1>Hejsan här kommer det vara instruktioner.</h1>
</div>
