@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="/css/startPage.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="titleText">Välkommen till UCID!</h1>
    <p class="welcomeText">Världens bästa utbildning inom info-, cybersäkerhet samt AI!</p>
    
    <button id="startBtn" onclick="location.href = '@Url.Action("Index", "Chapter")'">Klicka här</button>
    <br />
    <button id="infoBtn" href="#">Så här gör du!</button>  
</div>
