@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="/css/startPage.css" asp-append-version="true" />
<main>
<div class="div-container">    
    <p class="welcome-text speech-bubble">Välkommen till min utbildning inom cyber- och informationssäkerhet, <br />dataskydd samt AI!</p>
    <img src="images\Kotte som vinkar med sköld.png" alt="Igelkott med sköld som vinkar"/>    
    <button id="start-btn" onclick="location.href = '@Url.Action("Index", "Chapter")'">Starta utbildningen!</button>
    <br />
    <button id="info-btn" onclick="location.href = '@Url.Action("EducationInfo", "Home")'">Så här går det till.</button>
</div>
</main>
