@using SecurityEducation.Dtos
@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";

}


<link rel="stylesheet" href="/css/startPage.css" asp-append-version="true" />
<main>
    <div class="div-container">    
        <div class="start-div">
            <p class="welcome-text speech-bubble">Välkommen till min utbildning inom cyber- och informationssäkerhet, <br />dataskydd samt AI!</p>
            <img alt="Igelkott som står och vinkar, håller i en blå sköld som det är ett lås på" src="images\Kotte som vinkar med sköld.png" alt="Igelkott med sköld som vinkar"/>
            <button aria-label="Starta utbildningen" id="start-btn" onclick="location.href = '@Url.Action("Index", "Chapter")'">Starta utbildningen!</button>
            <br />
            <button aria-label="Så här går det till" id="info-btn" onclick="location.href = '@Url.Action("EducationInfo", "Home")'">Så här går det till.</button>
        </div>
        <div class="overview-div">
            <p class="overview-header">Översikt</p>
        </div>
    </div>
    
</main>
<script>
    var chapters = @Html.Raw(JsonSerializer.Serialize((List<ChapterDto>)Model.Chapters));
</script>
<script src="~/js/xapiwrapper.min.js"></script>
<script src="~/js/xApi/xApiQueries.js"></script>
<script src="~/js/Startpage.js"></script>

