@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="/css/startPage.css" asp-append-version="true" />
<main>
<div class="div-container">
    <h1 class="title-text">Välkommen till UCIDA!</h1>
    <p class="welcome-text speech-bubble">Världens bästa utbildning inom cyber- och informationssäkerhet, <br />dataskydd samt AI!</p>
    <img src="images\Kotte som vinkar med sköld.png" alt="Igelkott med sköld som vinkar"/>    
    <button id="start-btn" onclick="location.href = '@Url.Action("Index", "Chapter")'">Starta utbildningen!</button>
    <br />
    <button id="info-btn" href="#">Så här gör du.</button>
</div>
</main>
