@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <h1 class="display-4">Hej Petter!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href=" @Url.Action("Index", "Chapter")">
    <button width="200", height="100">Klicka här</button>
    </a>
    
</div>
