
body {
    background-color: lightgray;
}

.chapter-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.chapter-div {
    border: black 2px, solid;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    align-items: center;
    text-align: center;
    background-color: #EDF3F9;
}
.chapter-div img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.chapter-name{
    font-size:20px;
    text-align:center;
}
.chapter-description{
    font-size: 16px;
}
.chapter-btn{
    width: 100px;
    height: 75px;
    border-radius: 10px;
}

#back-btn {
    border-radius: 20px;
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 32px;
    width:90%;
    max-width: 600px;
    height:100px;
}

.button-container {

    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

h2 {
    text-align: center;
    color: white;
}





