.episode-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align:center;
}
.episode-div {
    border: black 2px, solid;
    border-radius: 20px;
    padding: 10px;
    width:600px;   
}
a{
    color: black;
    text-decoration:none;
}
a:hover{
    color:black;
}
.episode-name {
    font-size: 24px;
}
.episode-img {
    width: 200px;
    height: 175px;
    border-radius: 20px;
    text-align:center;
}
.episode-description {
    font-size: 18px;
}

#back-btn {
    border-radius: 20px;
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 18px;
}