
.episode-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    
}

.episode-div {
    border: 2px solid black;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    width: 308px;
    align-items: center;
    text-align: center;
    background-color: #EDF3F9;
    min-height: 600px;
    max-height: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episode-div:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6); 
}
a{
    color: black;
    text-decoration:none;
}
a:hover{
    color:black;
}
.episode-name {
    font-size: 18px;
    font-weight:bold;
    min-height: 55px;
}
.episode-img {
    width: 85%;
    height: 28%;
    border-radius: 20px;
    margin-bottom:10px;
    text-align:center;
}
.episode-description {
    font-size: 14px;
    width: 100%;
    height: auto;
}
.episode-result{
    min-height:10%;
    
}
.completed {
    margin: auto;
    padding: 10px;
    border: 1px, solid, black;
    background: forestgreen;
    color: white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 24px;
}
.result-text {
    font-size: 18px;
    font-weight: bold;
}

#back-btn {
    border-radius: 20px;
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 32px;
    width: 90%;
    max-width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.enter-episode {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    height: 40px;
    margin-top: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 80px;
    background: forestgreen;
    white-space: nowrap; /* 👈 förhindrar radbrytning */
}

h2 {
    text-align: center;
    color: white;
}

