

.overview-div {
    background-color: rgba(240, 248, 255, 1);
    width: 100%;
    max-width:2000px;
    border-radius:10px;
    margin:auto;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:center;
    max-height:765px;
}
.chapter-episode-div{
    display:flex;
    flex-direction:column;
    border:solid 2px black;
    border-radius:20px;
    margin:10px;
    background:white;
}
.medal-text{
    position:absolute;
    top:10px;
    font-weight:bolder;
    font-size:16px;
}
.chapter-div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    margin-left:20px;
    width:275px;
    min-height:185px;
    max-height:185px;
}
.chapter-medal-div {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    border: 2px solid black;
    border-radius: 90px;
    width: 85px;
    height: 85px;
    margin:auto;
    text-align:center;
    box-shadow: 2px 4px 20px;
}
.chapter-medal {
    position:absolute;
    bottom:3px;
    max-width:45px;
    max-height:45px;
}
.chapter-name{
    font-size:16px;
    font-weight:bold;
    margin-bottom:0px;
    min-height:50px;
}
.star-div{
    display:flex;
    justify-content:center;
    flex-direction:row;
    max-height:fit-content;
}
    .star-div p {
        font-size: 24px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
.episode-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    text-align:center;
    min-height:100px;
}
.episode-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 275px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 10px;
    background: rgba(240, 248, 255, 1);
    cursor:pointer;
}
.episode-div:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.episode-name{
    font-size:12px;
    font-weight:bold;
    margin-bottom:5px;
    text-align:left;   
}
.episode-result{
    display:flex;
    flex-direction: row;
    
}
.episode-star-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom:0px;
 
}
.episode-star-div p {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.episode-medal-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid black;
    border-radius: 90px;
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-right:auto;
    text-align: center;
    box-shadow: 2px 4px 20px;
}
.episode-medal {
    position: absolute;
    bottom: 2px;
    max-width: 27px;
    max-height: 27px;
}
.episode-medal-text{
    font-size:12px;
    font-weight:bold;
    position:absolute;
    top:2px;
}
.examination-container {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}
.examination-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:65px;
}

.examination-name {
    font-size: 18px;
    font-weight: bold;
}

.examination-star-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.examination-star-div p {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.examination-medal-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid black;
    border-radius: 90px;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 4px 20px;
}
.examination-medal {
    position: absolute;
    bottom: 7px;
    max-width: 50px;
    max-height: 50px;
}
#start-btn {
    position:absolute;
    bottom:30px;
    border-radius: 20px;
    background-color: forestgreen;
    color: white;
    max-width: 800px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
.checked{
    color:gold;
}

#intro-text {
    color: white;
    

@media (min-width:1900px){
    .container{
        max-width:1800px
    }
}