
.result-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    padding: 20px;
    background-color: #EDF3F9;
    text-align: center;
}

.button container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#start-page-btn {
    border-radius: 20px;
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 26px;
    padding: 2%;
    width: max-content;
    min-width: 25%;
    height: auto;
    margin-left: 10%;
}

#overview-page-btn {
    border-radius: 20px;
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 26px;
    padding: 2%;
    width: max-content;
    min-width: 25%;
    height: auto;
    margin-left: 10%;
}

.star {
    font-size: 62px;
    color: gold;
    margin-right: 4px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.star-empty {
    font-size: 62px;
    color: transparent;
    text-shadow: -0.001px -0.001px 0 #000, 0.001px -0.001px 0 #000, -0.001px 0.001px 0 #000, 0.001px 0.001px 0 #000;
}




