body {
    background-color: lightgray;
}

main {
    background-color: #EDF3F9;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.title-text{
    font-size: 24px;
    text-align:center;
    font-weight: bold;
    margin: 20px;
}
.welcome-text {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
#start-btn {
    border-radius: 20px;
    background-color: forestgreen;
    color: white;
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
#info-btn {
    border-radius: 20px;
    background-color: #3498db;
    color: white;
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;

}

img {
    max-width: 25%;
    height: auto;
}

.div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speech-bubble {
    position: relative; /* Gör att vi kan använda pseudo-element */
    background-color: #fff; /* Bakgrundsfärg på pratbubblan */
    border: 2px solid #000; /* Rand på pratbubblan */
    padding: 20px; /* Utrymme inne i bubblan */
    border-radius: 10px; /* Rundade hörn */
    max-width: auto; /* Maxbredd */
    margin: 20px; /* Marginal runt pratbubblan */
}

    .speech-bubble::after {
        content: ""; /* Inget textinnehåll, bara ett triangulärt element */
        position: absolute; /* Absolut position för triangeln */
        bottom: -15px; /* Placera triangeln under bubblan */
        left: 50%; /* Centrerad horisontellt */
        transform: translateX(-50%); /* Justera så att triangeln är centrerad */
        width: 0;
        height: 0;
        border-left: 10px solid transparent; /* Vänster transparent kant */
        border-right: 10px solid transparent; /* Höger transparent kant */
        border-top: 15px solid #000; /* Den faktiska triangeln, svart */
    }