@{
    ViewData["Title"] = "Avsnitt";
}

<link rel="stylesheet" href="/css/Episode.css" asp-append-version="true" />
<div>
    <h2>Välj avsnitt</h2>
</div>
<div class="episode-container">
    @foreach (var episode in Model.Episodes)
    {
        <a href="@Url.Action("ReadingMaterials", "ReadingMaterial", new { chapterId = episode.ChapterId, episodeId = episode.Id })">
            <div class="episode-div">
                <p class="episode-name">@episode.Name</p>
                <img class="episode-img" src="@episode.ImageUrl" />
                <p class="episode-description">@episode.Description</p>
            </div>
        </a>
    }

</div>
<div class="button-container">
    <button id="back-btn" onclick="history.back()">Gå tillbaka till kapitelsidan</button>
</div>
