@using System.Text.Json
@{
    ViewData["Title"] = "Resultat slutprov";
}
@{
    bool isExamination = true;
}

<link href="~/css/result.css" rel="stylesheet" asp-append-version="true" />

<div class="result-div">
    <h2>Ditt Resultat!</h2>
    <p id="result"></p>
</div>

<div class="button-container">
    <button id="start-page-btn" onclick="location.href = '@Url.Action("Index", "Home")'">Tillbaka till startsidan</button>
</div>

<script>
    window.viewModel = @Html.Raw(JsonSerializer.Serialize(Model));
    var isExamination = @Html.Raw(JsonSerializer.Serialize(isExamination));
</script>
<script src="~/js/xapiwrapper.min.js"></script>
<script type="module" src="~/js/Result.js"></script>